<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit subproject</title>
  <link th:href="@{../static/style/Style.css}" type="text/css" rel="stylesheet">

</head>
<body>
<h1>Edit subproject</h1>

<!--This is a work in proces - intet virker endnu-->
<div>
  <form method="POST" action="/editSubprojectChanges">
    <label>Title:</label><br>
    <input name="subproject-title-input" th:placeholder="${Subproject.subprojectTitle}" type="text"><br>

    <label>Deadline:</label><br>
    <input type="date" name="subproject-deadline-input" th:placeholder="${Subproject.getSubprojectDeadline()}" min="2018-01-01" max="2030-12-31"></br>

    <label>Description:</label><br>
    <input name="subproject-description-input" type="text" th:placeholder="${Subproject.getSubprojectDescription()}"><br>

    <label>Connected Project:</label><br>
    <input th:placeholder="${Project.getProjectTitle()}"><br>

    <!--https://www.w3schools.com/tags/att_select_form.asp-->
    <label for="status">Status:</label>
    <br>
    <select name="project-status-input" id="status" required>
      <div th:switch="${Project.getStatus()}">
        <a th:case="'On hold'">
          <option >On hold</option>
          <option >Ongoing</option>
          <option >Complete</option>
        </a>

        <a th:case="'Ongoing'">
          <option >Ongoing</option>
          <option >On hold</option>
          <option >Complete</option>
        </a>

        <a th:case="'Complete'">
          <option >Complete</option>
          <option >Ongoing</option>
          <option >On hold</option>
        </a>

        <a th:case="*">
          <option selected disabled></option>
          <option >On hold</option>
          <option >Ongoing</option>
          <option >Complete</option>
        </a>
      </div>

    </select>
    </br>

    <br><input type="submit" value="Opdatér"></br>

  </form>

  <td>
    <a th:href="@{/addEmployeeToSubproject/{id}(id=${Project.getProjectId()})}"> Add employee </a>
  </td>

  <td>
    <a th:href="@{/removeEmployeeFromSubproject/{id}(id=${Project.getProjectId()})}"> Remove employee </a>
  </td>

</div>

<form>
  <input type="button" value="Back" onclick="history.go(-1)">
</form>

</body>
</html>