<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new subproject</title>
    <link th:href="@{../static/style/Style.css}" type="text/css" rel="stylesheet">
    <link href="../../static/style/Style.css" type="text/css" rel="stylesheet">
    <link href="style/Style.css" type="text/css" rel="stylesheet">


</head>
<body>
<div class="background">
<h1> Create new subproject </h1>

<div>
    <form method="POST" action="/createNewSubproject">
        <label>Titel:</label><br>
        <input name="subproject-title-input" type="text" required><br>

        <label>Deadline:</label><br>
        <input type="date" name="subproject-deadline-input" min="2018-01-01" max="2030-12-31"></br>

        <label>Description:</label><br>
        <input name="subproject-description-input" type="text" required></br>
        <!--
                <label>Navn på projekt:</label>

                <br>
                <input name="subproject-projectname-input" type="text" required></>br> -->
        <!-- https://javainspires.blogspot.com/2020/09/thymeleaf-select-optionlist-example.html -->
        <!--
        <br>
        <td>
            <select th:name="subproject-projecttitle-input">

            <option th:each="Project :${projects}"
                    th:value="${Project.getProjectTitle()}"
                    th:text="${Project.getProjectTitle()}">

            </option>
        </select>
        </td>
        </br>
        -->


        <!--https://www.w3schools.com/tags/att_select_form.asp-->
        <label for="status">Status:</label>
        <br>
        <select name="subproject-status-input" id="status">
            <option value="Pending">Pending</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Complete">Complete</option>
        </select>
        </br>

        <br><input type="submit" value="Create"></br>

    </form>


</div>

<form>
    <input type="button" value="Back" onclick="history.go(-1)">
</form>
</div>
</body>
</html>