<!DOCTYPE html>
<html lang="dkk" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>newTask</title>
    <link th:href="@{../static/style/Style.css}" type="text/css" rel="stylesheet">
    <link href="../../static/style/Style.css" type="text/css" rel="stylesheet">
    <link href="style/Style.css" type="text/css" rel="stylesheet">



</head>
<body>
<div class="background">
    <div class="content-form">

<form method="POST" action="/createNewTask">
        <h1 th:text="${project.getProjectTitle()}"></h1>

        <h2>Create a new task</h2>

        <label for="status">Title:</label> <br>
        <input type="text" name="new-task-title" required><br>

        <label for="status">Description:</label><br>
        <input type="text" name="new-task-description"><br>

        <label for="status">Estimated Time:</label><br>
        <input type="text" name="new-task-estimatedTime" required><br>

        <label for="status">Time Used:</label><br>
        <input type="text" name="new-task-timeUsed" required><br>

        <label for="status">Status:</label><br>
        <select name="new-task-status" id="status">
            <option value="Pending">Pending</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Complete">Complete</option>
        </select> <br>

    <input type="submit" value="Create Task">

    <!--input type=number min"1" max "24 - for time"-->
    <!--input type=number min"1" max "24 - for minutter"-->
    <!--input type=number min"1" max "24 - for sekunder"-->

        </form>

        </div>
</div>
</body>
</html>