<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="/addEmployeeToProjectInput">
<tr
        th:each="employee : ${projectEmployees}">
    <td th:text="${employee.getEmployeeName()}"></td>
    <br>

</tr>


<br>
<td>
    <select th:name="project-employeeId-input">

        <option th:each="employee :${allEmployees}"
                th:value="${employee.getEmployeeId()}"
                th:text="${employee.getEmployeeName()}">
        </option>
    </select>
</td>
</br>

    <br><input type="submit" value="Opret"></br>
</form>

</body>
</html>