<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redigér projekt</title>
    <link th:href="@{../static/style/Style.css}" type="text/css" rel="stylesheet">

</head>
<body>
<h1> Redigér projekt </h1>

<div>
    <form method="POST" action="/editProjectChanges">
        <label>Titel:</label><br>
        <input name="project-title-input" th:placeholder="${Project.getProjectTitle()}" type="text"><br>

        <label>Deadline:</label><br>
        <input type="date" name="project-deadline-input" th:placeholder="${Project.getProjectDeadline()}" min="2018-01-01" max="2030-12-31"></br>

        <label>Forventet pris:</label><br>
        <input name="project-baseprice-input" type="text" th:placeholder="${Project.basePrice}"><br>

        <label>Beskrivelse:</label><br>
        <input name="project-description-input" type="text" th:placeholder="${Project.getDescription()}"><br>

        <label>Navn på kunde:</label><br>
        <input name="project-customer-input" type="text"><br>

        <!--https://www.w3schools.com/tags/att_select_form.asp-->
        <label for="status">Status:</label>
        <br>
        <select name="project-status-input" id="status" required>
            <div th:switch="${Project.getStatus()}">
                <a th:case="'On hold'">
                    <option >On hold</option>
                    <option >Ongoing</option>
                    <option >Complete</option>
                </a>

                <a th:case="'Ongoing'">
                    <option >Ongoing</option>
                    <option >On hold</option>
                    <option >Complete</option>
                </a>

                <a th:case="'Complete'">
                    <option >Complete</option>
                    <option >Ongoing</option>
                    <option >On hold</option>
                </a>

                <a th:case="*">
                    <option selected disabled></option>
                    <option >On hold</option>
                    <option >Ongoing</option>
                    <option >Complete</option>
                </a>
            </div>

        </select>
        </br>


        <label>Start date:</label><br>
        <input type="date" name="project-startdate-input" th:placeholder="${Project.getStartDate()}"></br>

        <label>End date:</label><br>
        <input type="date" name="project-enddate-input" th:placeholder="${Project.getEndDate()}"></br>

        <br><input type="submit" value="Opdatér"></br>


    </form>

    <td>
        <a th:href="@{/addEmployeeToProject/{id}(id=${Project.getProjectId()})}"> Add employee </a>
    </td>

    <td>
        <a th:href="@{/removeEmployeeFromProject/{id}(id=${Project.getProjectId()})}"> Remove employee </a>
    </td>


</div>

<form>
    <input type="button" value="Back" onclick="history.go(-1)">
</form>

</body>
</html>