<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret projekt</title>
    <link th:href="@{../static/style/Style.css}" type="text/css" rel="stylesheet">

</head>
<body>
<h1> Opret projekt </h1>

<div>
    <form method="POST" action="/createNewProject">
        <label>Titel:</label><br>
        <input name="project-title-input" type="text" required><br>

        <label>Deadline:</label><br>
        <input type="date" name="project-deadline-input" min="2018-01-01" max="2030-12-31"></br>

        <label>Forventet pris:</label><br>
        <input name="project-baseprice-input" type="text" required><br>

        <label>Beskrivelse:</label><br>
        <input name="project-description-input" type="text" required><br>

        <label>Navn på kunde:</label><br>
        <input name="project-customer-input" type="text"><br>


        <!--https://www.w3schools.com/tags/att_select_form.asp-->
        <label for="status">Status:</label>
        <br>
        <select name="project-status-input" id="status">
            <option value="On hold">On hold</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Complete">Complete</option>
        </select>
        </br>

        <br><input type="submit" value="Opret"></br>

    </form>


</div>

<form>
    <input type="button" value="Back" onclick="history.go(-1)">
</form>

</body>
</html>