<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 ><td th:text="${project.getProjectTitle()}"></h1>

    <a th:if="${projectEmployees.size() == 1}">
        <h2>You can't remove the last employee from the project. Add another employee first or delete the project.</h2>
    </a>
<a th:unless="${projectEmployees.size() == 1}">
    <h1>Edit employees</h1>

    <form method="POST">
    <h2>Connected employees</h2>
    <tr
            th:each="employee : ${projectEmployees}">
        <td th:text="${employee.getEmployeeName()}"></td>


        <td>
            <a th:href="@{/removeEmployee/{employeeId}(employeeId=${employee.getEmployeeId()})}"
               onclick="return confirm('Are you sure you want to remove this employee?');">Remove</a>
        </td>
        <br>

    </tr>

    <br>

    </form>
</a>

</body>
</html>