<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show All Projects</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../../static/javascript/js.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/style/collapseStyle.css">

</head>
<body>

<table>
    <thead>
        <!---Table headings--->
        <tr>
            <th>Projektnavn</th>
            <th>ID</th>
            <th>Deadline</th>
        </tr>
    </thead>
    <tbody>
        <tbody class="labels">
            <tr>
                <td colspan="5">
                    <label for="Projektnavn">Projektnavn</label>
                    <input type="checkbox" name="Projektnavn" id="Projektnavn" data-toggle="toggle">
                </td>
            </tr>
        </tbody>
        <tbody class="hide">
            <tr>
                <td>Juleprojekt</td>
                <td>15</td>
                <td>24/12/2021</td>
            </tr>
            <tr>
                <td>Påskeprojekt</td>
                <td>55</td>
                <td>1/5/2022</td>
            </tr>
        </tbody>
</table>


</body>
</html>