<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show project</title>
    <link th:href="@{../static/style/Style.css}" type="text/css" rel="stylesheet">


</head>
<body>

<div th:if = "${session.employee.role == 'MANAGER'}">

    <div th:replace="fragments/headers :: Manager-header"></div>

</div>

<h1>Medarbejders navn</h1>

<h1 ><td th:text="${Project.getProjectTitle()}"></h1>

    <td th:text="${Project.getDescription()}"></td>
    <td th:text="${Project.getProjectId()}"></td>
<td>
    <a th:href="@{/newSubproject/{id}(id=${Project.getProjectId()})}">Create subproject</a>
</td>

<td>
    <a th:href="@{/editProject/{id}(id=${Project.getProjectId()})}"> Edit </a>
</td>

<td>
<a th:href="@{/deleteProject/{id}(id=${Project.getProjectId()})}"
   onclick="return confirm('Are you sure you want to delete this project?');">Delete</a>
</td>
</tr>

</body>
</html>