body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", sans-serif;
}


.background{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: url("../images/cool-background.png") center;
    position: relative;

}

.logo{
    height: 100px;
    width: 100px;
    background: url("../images/Logo-uden-baggrund-kopi.png") center;
}

h1{
    margin: 0;
    font-size: 3em;
    color: black;
    text-shadow: 2px 2px grey;
    text-align: center;
    padding-top: 20px;
}

h2{
    margin: 0;
    padding-top: 30px;
    font-size: 2rem;
    color: black;
    text-shadow: 2px 2px grey;
    text-align: center;

}

h3{
    margin: 0;
    padding-top: 30px;
    font-size: 1.5rem;
    color: black;
    text-shadow: 1px 1.2px grey;
    text-align: center;
}
#error{
    padding: 15px 10px;
    text-align: center;

}

#returnButton{
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    text-shadow: 2px 2px grey;
    background: rgba(125, 125, 125, 1);
}
#returnButton:hover{
    background: rgba(125, 125, 125, 0.5);
    animation-delay: 200ms;
}

#login{
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

#loginContent{
    display: block;
    position: relative;
    left: 30%;
    background: whitesmoke;
    border: black solid 2px;
    max-width: 40%;
    min-width: 20%;
    height: fit-content;
    margin-top: 100px;


}

.loginform{
    padding: 12px 20px;
    margin: 15px 10px 15px 10px;
}

#showPassword #submit{
    font-size: 1rem;
}

#showPassword{
    padding: 8px 12px;
    border-radius: 10px;
    min-width: 130px;
}
#submit{
    padding: 8px 10px;
    border-radius: 10%;
    margin-top: 20px;
}

.content{
    width: 80%;
    margin: auto;

}
.link2{
    position: relative;
    left: 20%;
    width: fit-content;
}

.link{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.link::after{
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: black;
    transition: 300ms;
}

.link:hover::after {
    width: 100%;
}

.showData{
    width: 90%;
    position: relative;
    padding-top: 30px;
    margin: auto;
    text-align: left;

}

.content-form{
    border: black solid 2px;
    max-width: 40%;
    min-width: 400px;
    height: fit-content;
    background-color: whitesmoke;
    margin: auto;
    position: relative;

}
tbody{
    padding-left: 100px;
}

form{
    margin-top: 20px;
    text-align: center;
    position: relative;
}
#ID{
    place-content: start;
}
#CustomerName{
    place-content: start;
}
th{

}

input{
    padding: 6px 15px;
    margin: 10px 0 20px 0;
    font-size: 16px;

}
#status{
    padding: 6px 10px;
}

.deleteLink{
    position: relative;
    right: 0;

}
.editLink{
    position: relative;
    right: 5%;

}

.contentTable{
    padding-top: 30px;
    text-align: left;

}

.hideStuff{
    display: flex;
    margin: auto;
    padding: 8px 10px;
}

select{
    margin-top: 30px;
    padding: 10px 100px;
}
.newRowInTable{
    border-bottom: black solid 1px;
}
#chart_div{
    width: 90%;
    display: flex;
    margin:auto;
    background: inherit;
}
#note{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 15px;
}

.Title{
    width: 15%;
}
.description {
    width: 20%;
}

td.deadline{
    width: 90px;
    margin-left: 10px;
}
td.startdate{
    width: 90px;
    margin-left: 10px;
}td.enddate{
     width: 90px;
     margin-left: 10px;
 }


