<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">

        google.charts.load('current', {'packages':['gantt']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('string', 'Resource');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');


            let projects = [[${projects}]];

            for (let project = 0; project < projects.length; project++) {

                let currentProjectId =  projects[project].projectId.toString();
                let currentProjectName = projects[project].projectTitle;
                let projectStatus = projects[project].status;
                let currentCustomerId = projects[project].customerId.toString();
                let projectStartDate = new Date (projects[project].startDate);
                let projectEndDate = new Date (projects[project].endDate);

                console.log(currentProjectId)
                console.log(currentProjectName)
                console.log(projectStatus)
                console.log(currentCustomerId)
                console.log(projectStartDate)
                console.log(projectEndDate)


                projectStatus = "Complete"
                let projectStatusAsInt = 0;


            if(projectStatus === "Pending"){
                projectStatusAsInt = 0;
            } else if(projectStatus === "OnGoing"){
                projectStatusAsInt = 50;
            } else {
                projectStatusAsInt = 100;
            }

                data.addRows
                ([
                    [currentProjectId, "Project: " + currentProjectName, currentCustomerId, projectStartDate, projectEndDate, null, projectStatusAsInt, null]
                ]);




                var options = {
                    height: 400,
                    gantt: {
                        trackHeight: 30
                    }
                };

                var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

                chart.draw(data, options);
            }
        }
    </script>
</head>
<body>
<h1> Your Gannt chart</h1>
<div id="chart_div"></div>

</body>
</html>


