<!DOCTYPE html>
<html lang="dkk" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>newTask</title>
</head>
<body>


<form method = "post" action="/createTask">
    <div class = "container">
        <h2>Create a new task</h2>
    </div>

    <div class = "container">
        <input type="text" placeholder="title" name="new-task-title" required>
        <input type="text" placeholder="description" name="new-task-description" required>
        <input type="text" placeholder="estimated Time" name="new-task-estimatedTime" required>
        <input type="text" placeholder="status" name="new-task-status" required>

    </div>

    <div class="container">
        <input type="submit" value="Tilmeld">
    </div>



</form>


</body>
</html>